main{
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/football-field-2588146.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
  // height: 1500px;
}

.center-calendar {
  margin-top: 3%;
  text-align: center;
}

.calendar-footer {
  text-align: center;
  font-size: large;
}

.schedule {
  margin-top: 3%;
  width: 66%;
  margin-left: 17%;
  margin-right: 17%;
}

.center-caption {
  text-align: center;
  font-size: large;
}