main{
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/football-field-2588146.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  min-height: 100vh;
}

.center-calendar {
  margin-top: 3%;
  text-align: center;
}

.calendar-footer {
  text-align: center;
  font-size: large;
}

.schedule {
  margin-top: 3%;
  width: 66%;
  margin-left: 17%;
  margin-right: 17%;
}

.center-caption {
  text-align: center;
  font-size: large;
}

table {
  border-collapse: collapse;
}

td {
  border: 0.5px solid #ffffff;
  position: relative;
}

tr:hover,
tr:focus-within {
  background: rgba(7, 129, 23);
  outline: #21c51b;
  color: rgb(255, 255, 255);
}

td > a:first-child {
  display: flex;
  padding: 0.1px;
  text-decoration: none;
  color: inherit;
  z-index: 0;
}