  .navbar {
    letter-spacing: 2px;
  }

  .btn-login{
    border: None;
    background-color: transparent;
    cursor: pointer;
  }
  
  .logo-btn{
    border: None;
    background-color: transparent;
    cursor: pointer;
  }

  a {
    // color: rgb(0, 204, 255);
    color: rgb(134, 136, 136);
  }
  
  // .admin-navbar-item:hover {
  //   background-color: rgb(255, 0, 0);
  // }

  .admin-navbar-subitem {
    background-color: rgb(190, 239, 252);
  }

  // .admin-navbar-subitem:hover {
  //   background-color: rgb(255, 0, 0);
  // }
  