HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
dependency-reduced-pom.xml
resources/application.properties
resources/application.yaml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/resources/
pom.xml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### APP PROPERTIES ###
project.properties
*.properties
./src/main/resources/application.properties
./src/main/resources/application.yaml
.application.properties
application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# FRONT-END
/dist
/tmp
/out-tsc
/bazel-out

# Node
./src/main/angular/node_modules
/src/main/angular/node_modules
/node_modules
./node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!./src/main/angular/.vscode/settings.json
!./src/main/angular/.vscode/tasks.json
!./src/main/angular/.vscode/launch.json
!./src/main/angular/.vscode/extensions.json
./src/main/angular/history/*

# Miscellaneous
./src/main/angular/.angular/cache
/src/main/angular/.angular/cache
./src/main/angular/.angular/sass-cache/
/src/main/angular/.angular/sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
