main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/football-field-2588146.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.users-table {
    width: 90%;
    height: 50%;
    opacity: 0.9;
    margin: auto;
    margin-top: 1%;
}

.delete {
    width: 200px;
    background-color: rgb(255, 60, 0);
    // margin-left: 200px;
}

.edit {
    width: 200px;
    background-color: rgb(76, 185, 66);
    // margin-left: 200px;
}


.flex-container {
    height: 40px;
}

.left {
    float: left;
}

.right {
    float: right;
}
