<main>
    <app-navbar></app-navbar>
    <div class="reservations-table">
        <p-table [value]="reservations" [paginator]="true" [rows]="7">
                <ng-template pTemplate="caption">
                    <div class="center-caption">
                        Lista twoich przyszłych rezerwacji
                    </div>
                </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 400px;">Boisko</th>
                    <th style="width: 700px;">Data</th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-reservationDTO>
                <tr>
                    <td> &nbsp;&nbsp;&nbsp; {{ reservationDTO.pitch }}</td>
                    <td>{{ reservationDTO.date }}</td>
                    <td><button type="button" pButton label="Edytuj rezerwację" class="edit" (click)="btnEdit(reservationDTO.id)"><i class="pi pi-file-edit"></i></button></td>
                    <td><button type="button" pButton label="Usuń rezerwację" class="delete" (click)="btnDelete(reservationDTO.id)"><i class="pi pi-trash"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <app-footer></app-footer>
  </main>
