<main>

  <app-navbar></app-navbar>

  <p class="main-text">Wniosek o konto studenta</p>

  <div class="time-field">
    <p class="time-info">Podaj swój numer albumu:</p>
    <div class="p-inputgroup input-index">
      <span class="p-inputgroup-addon"><i class="pi pi-hashtag"></i></span>
     <input type="text" pInputText [maxLength]="6" min="100000" [(ngModel)]="updateToStudentDto.indexNumber" placeholder="Numer albumu">
    </div>
  </div>

  <div class="decision">
    <button pButton pRipple
            class="p-button-lg p-button-outlined p-button-danger"
            type="button"
            style="margin-right: 10px; background-color:white "
            icon="pi pi-times"
            (click)="btnCancel()"
            routerLinkActive="active"
            label="Anuluj">
    </button>
    <button pButton pRipple
            class="p-button-lg p-button-outlined p-button-success"
            style="margin-left: 10px; background-color:white; color: forestgreen"
            type="button"
            icon="pi pi-check"
            (click)="btnConfirm()"
            routerLinkActive="active"
            label="Zatwierdź">
    </button>
  </div>

  <app-footer></app-footer>

</main>
