<!DOCTYPE html>

<main>
  <app-navbar></app-navbar>
  <div class="page">
    <p class="title">Tabela ligowa</p>
    <div class="tabela">
                                                      <!-- Nie zmieniać stylu ! Wartość pod 100% i domyślne ustawienia Windowsa -->
      <p-table [value]="teams" [tableStyle]="{'min-width': '50rem'} " [paginator]="false" [scrollable]="true" scrollHeight="465px" [rows]="10">
        <ng-template pTemplate="header">
          <tr>
            <th>Pozycja</th>
            <th>Drużyna</th>
            <th>Rozegrane spotkania</th>
            <th>Wygrane</th>
            <th>Zremisowane</th>
            <th>Przegrane</th>
            <th>Gole strzelone</th>
            <th>Gole stracone</th>
            <th>Bilans</th>
            <th>Punkty</th>
          </tr>
        </ng-template>
        <ng-template let-i="rowIndex" pTemplate="body" let-teams>
          <tr
            [ngClass]="{
                    'first' : i+1 == 1,
                    'second': i+1 == 2,
                    'third': i+1 == 3,
                    'else': i+1 > 3}">
            <td>
              <a *ngIf="i==0" [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{i+1}} 🏆
              </a>
              <a *ngIf="i==1" [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{i+1}} 🥈
              </a>
              <a *ngIf="i==2" [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{i+1}} 🥉
              </a>
              <a *ngIf="i>=3" [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{i+1}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.name}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.numberOfMatches}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.wins}}
              </a>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.draws}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.loses}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.goalsFor}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.goalsAgainst}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.balance}}
              </a>
            </td>
            <td>
              <a [routerLink]="['/team-detail/', teams.id]" class="row-link" tabindex="-1"> {{teams.points}}
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
  </div>
  <app-footer></app-footer>
</main>





