main {
  height: 110vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../../assets/img/football-field-2588146.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  .contact{
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-spacing: 20px;
  }

  .content{
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    .part{
      height: 90%;
      width: 40%;
    }
    .left-part{
      margin-right: 50px;
      position: relative;
      color: white;

      .first-heading{
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        font-size: 35px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
        .icon{
          margin-right: 20px;
        }
      }

      .first{
        font-size: 20px;
        word-spacing: 4px;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
      }

      .info1{
        width: 100%;
        position: absolute;
        font-size: 15px;
        top: 140px;
        left: 50%;
        transform: translateX(-50%);
      }

      .second-heading{
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        font-size: 35px;
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);

        .icon{
          margin-right: 20px;
        }
      }

      .second{
        font-size: 22px;
        word-spacing: 4px;
        position: absolute;
        top: 230px;
        left: 50%;
        transform: translateX(-50%);
      }

      .info2{
        width: 100%;
        position: absolute;
        font-size: 15px;
        top: 260px;
        left: 50%;
        transform: translateX(-50%);
      }

      .third-heading{
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        font-size: 35px;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);

        .icon{
          margin-right: 20px;
        }
      }

      .third{
        font-size: 22px;
        word-spacing: 4px;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
      }

      .fourth-heading{
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: 100%;
        font-size: 35px;
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translateX(-50%);

        .icon{
          margin-right: 20px;
        }
      }

      .fourth{
        font-size: 15px;
        word-spacing: 4px;
        position: absolute;
        top: 450px;
        //left: 50%;
        //transform: translateX(-50%);
      }

      .info4{
        width: 100%;
        position: absolute;
        font-size: 12px;
        top: 510px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .right-part{
      position: relative;

      .map-text{
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        word-spacing: 20px;
      }
      .map{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
