<!DOCTYPE html>

<main>
  <app-navbar></app-navbar>
  <p class="contact">Skontaktuj się z nami:</p>
  <div class="content">

    <div class="part left-part">
      <div class="first-heading">
        <p class="centrum"><i class="icon fa-solid fa-house"></i>Biuro</p>
      </div>
      <p class="first">
        Kortowska Liga Piłki Nożnej <br> ul. Michała Oczapowskiego <br> 10-001 Olsztyn <br>
      </p>
      <span class="info1"><br>Kontakt osobisty od poniedziałku do niedzieli w godzinach 15.00 - 21.30.</span>


      <div class="second-heading">
        <p class="centrum"><i class="icon fa-solid fa-phone"></i>Telefon</p>
      </div>
      <p class="second">
        999 999 999
      </p>
      <span class="info2">Kontakt telefoniczny od poniedziałku do niedzieli w godzinach 10.00 - 22.00.</span>


      <div class="third-heading">
        <p class="centrum"><i class="icon fa-solid fa-at"></i>Adres e-mail</p>
      </div>
      <p class="third">
        klpn@klpn.com
      </p>


      <div class="fourth-heading">
        <p class="centrum"><i class="icon fa-solid fa-bullhorn"></i>Rejestracja drużyny</p>
      </div>
      <p class="fourth">
        Po poprawnym wypełnieniu formularza zgłoszeniowego prosimy, o wpłatę wpisowego w wysokości 150zł. Płatność tylko gotówką
        w biurze pod adresem podanym powyżej, przed otwarciem ligi.
      </p>
      <span class="info4">W przypadku jakichkolwiek wątpliwości proszę dzwonić na numer podany powyżej.</span>



    </div>


    <div class="part right-part">
      <p class="map-text">Gdzie jesteśmy?</p>
      <div class="map container-fluid">
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1179.491328047343!2d20.457063343997344!3d53.75419104097862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e27ffe70afcd05%3A0x34c8d120322dd7c9!2sStadion%20Rozgrzewkowy%20im.%20Bronis%C5%82awy%20Ludwichowskiej!5e0!3m2!1spl!2spl!4v1672830247300!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>

    </div>
  </div>
  <app-footer></app-footer>
</main>
