
.navbar {
  letter-spacing: 2px;
}

.btn-login{
  border: None;
  background-color: transparent;
  cursor: pointer;
}

.logo-btn{
  border: None;
  background-color: transparent;
  cursor: pointer;
}

