
.navbar {
  letter-spacing: 2px;
}

.btn-login{
  border: None;
  background-color: transparent;
  cursor: pointer;
}

.logo-btn{
  border: None;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: rgb(0, 0, 0);
}