<!DOCTYPE html>
<html>
  <section class="navbar">

    <p-menubar [model]="items" [autoDisplay]="true">
      <ng-template pTemplate="start">
        <a href="index.html" class="logo-btn" type="button">
          <img src="../../assets/img/KLPN_Github_logophotoAid-removed-background.png" height="80" class="mr-2" alt="logo kortowskiej ligi piłki nożnej">
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <a href='/login' class="btn-login" type="button"><p-avatar icon="pi pi-user" styleClass="mr-2" size="large" shape="circle"></p-avatar></a>
      </ng-template>
    </p-menubar>


  </section>
</html>
