<!DOCTYPE html>
<html>
  <section class="navbar">
    <p-menubar [model]="items" [autoDisplay]="true">
      <ng-template pTemplate="start">
        <a href="index.html" class="logo-btn" type="button">
          <img src="../../assets/img/KLPN_Github_logophotoAid-removed-background.png" height="80" class="mr-2" alt="logo kortowskiej ligi piłki nożnej">
        </a>
      </ng-template>
      <ng-template pTemplate="end">
        <p-menubar [model]="itemsRight" [autoDisplay]="true" [style]="{'border': 'none'}">
                  <button pButton pRipple type="button" *ngIf="this.loginService.isLogged()" label="Wyloguj" class="logout"
                    (click)="this.loginService.btnLogout()" routerLinkActive="active" icon="pi pi-sign-out" style="margin-left: 10px;"></button>
        </p-menubar>
      </ng-template>
    </p-menubar>
  </section>
</html>
