main{
  height: auto;
}
.hero-img {
  position: relative;
  height: 84.2vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/img/football-field-2588146.jpg");;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-text{
    position: absolute;
    top: 25%;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 14px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  .text-motto{
    position: absolute;
    top: 35%;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
  }

  .btn-mainpage{
    position: absolute;
    top: 45%;
    left: 35%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-animation{
    position: absolute;
    top: 45%;
    left: 50%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-mainpage-left-center {
    position: absolute;
    top: 45%;
    left: 32%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-animation-right-center {
    position: absolute;
    transition: background-color, color 0.6s;
    top: 45%;
    left: 52%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
  }

  .btn-profile{
    position: absolute;
    top: 45%;
    left: 24%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-team{
    position: absolute;
    top: 45%;
    left: 44%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-animation-right{
    position: absolute;
    top: 45%;
    left: 61%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-mainpage:hover{
    background-color: white;
    color: black;
  }

  .btn-animation:hover{
    background-color: white;
    color: black;
  }

  .btn-mainpage-left-center:hover{
    background-color: white;
    color: black;
  }

  .btn-animation-right-center:hover{
    background-color: white;
    color: black;
  }

  .btn-profile:hover{
    background-color: white;
    color: black;
  }

  .btn-team:hover{
    background-color: white;
    color: black;
  }

  .btn-animation-right:hover{
    background-color: white;
    color: black;
  }
}

.clock {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #45015c;
  font-size: 60px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  letter-spacing: 4px;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

/* Ostylowanie i Animacja Badge'a */
.home {
  display: flex;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

[class^="panel"] {
  background: rgba(37, 215, 224, .8);
  transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.panel--right {
  width: 100%;
}

.wrapper {
  opacity: 0;
  position: relative;
  top: 40%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  width: 800px;
  height: 250px;
  overflow: hidden;
}

.teams {
  display: flex;
  flex-direction: column;
  width: 400px;
}

[class^="team--"] {
  display: flex;
  position: relative;
  overflow: hidden;
}

.team--home {
  transform: translate3d(-50vw, 0, 0);
  z-index: 3;
  transition: transform .5s .5s ease-out;
}

.team--away {
  transform: translate3d(10vw, -100%, 0);
  opacity: 0;
  z-index: 2;
  transition: transform .5s 1s ease-out, opacity .5s 1.1s ease-out;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.team-name {
  padding: 0 30px;
  line-height: 38px;
  font-weight: lighter;
  background: rgb(18, 3, 37);
  text-transform: uppercase;
  font-size: 30px;
  z-index: 2;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
  font-family: 'PremierSans-Bold', Roboto, Helvetica, Arial, sans-serif;
}

.team--away .team-name:before {
  content: '';
  flex: 1 1 100%;
  height: 0;
  width: calc(100% - 180px);
  position: absolute;
  left: -35px;
  top: 0;
  background: #000;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .65);
}

.team-badge-wrapper {
  height: 90px;
  width: 90px;
  padding: 4px;
  background: #fff;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, .65);
}

.team-badge {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}

.team-badge-wrapper {
  transform: translate3d(-90px, 0, 0);
  transition: transform .5s 1.7s ease-out;
}

.hashtag {
  background: rgb(27, 6, 54);
  color: white;
  display: flex;
  padding: 0 30px;
  line-height: 24px;
  font-weight: 700;
  transform: translate3d(10vw, -100%, 0);
  align-self: flex-start;
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: transform .5s 1.7s ease-out, opacity .5s 1.8s ease-out;
}

.hashtag:before {
  content: '';
  height: 0;
  width: 100%;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .65);
  flex: 1 1 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.field-info {
  background: transparent;
  color: rgb(248, 248, 248);
  display: flex;
  padding: 0 30px;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
  align-self: flex-end;
  transform: translate3d(-155px, 100%, 0);
  z-index: 2;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: -50px;
  transition: transform .5s 1.7s ease-out, opacity .5s 1.8s ease-out;
}

.field-info:after {
  content: '';
  height: 0px;
  width: 100%;
  box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, .65);
  flex: 1 1 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.teams,
.team-badge2 {
  transition: all .5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.home--teams {
  justify-content: space-between;
}

.home--teams .panel--left {
  width: 30vw;
}

.home--teams .panel--right {
  width: 15vw;
}

.home--teams .wrapper {
  opacity: 1;
}

.home--teams .team--home {
  transform: translate3d(0, 0, 0);
  padding-top: 24px;
}

.home--teams .team--away {
  transform: translate3d(10vw, 0, 0);
  opacity: 1;
}

.home--teams .league-logo {
  opacity: 1;
}

.home--teams .team-badge-wrapper {
  transform: translate3d(0, 0, 0);
}

.home--teams .hashtag {
  opacity: 1;
  transform: translate3d(10vw, 0, 0);
}

.home--teams .field-info {
  opacity: 1;
  transform: translate3d(-155px, 0, 0);
}




