main{
  height: auto;
}
.hero-img {
  position: relative;
  height: 84.2vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/img/football-field-2588146.jpg");;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .main-text{
    position: absolute;
    top: 35%;
    font-size: 60px;
    letter-spacing: 3px;
    word-spacing: 14px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
  }

  .text-motto{
    position: absolute;
    top: 43%;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
  }

  .btn-mainpage{
    position: absolute;
    top: 50%;
    font-size: 25px;
    font-family: Raleway;
    padding: 10px;
    text-transform: uppercase;
    background: none;
    color: white;
    text-decoration: None;
    border: white solid 1px;
    border-radius: 5px;
    transition: background-color, color 0.6s;
  }

  .btn-mainpage:hover{
    background-color: white;
    color: black;
  }
}



