<!DOCTYPE html>

<main>
  <app-navbar></app-navbar>

  <p class="main-text">Zarezerwuj boisko</p>
  <div class="container">
    <div class="pitch first"><p class="pitch-number">Boisko 1</p></div>
    <div class="pitch second"><p class="pitch-number">Boisko 2</p></div>
    <div class="pitch third"><p class="pitch-number">Boisko 3</p></div>

  </div>

  <div class="time-field">
    <p class="time-info">Wybierz termin rezerwacji:</p>
    <input type="datetime-local" class="time-selector">
  </div>

  <div class="decision">
    <button class="btn decline">Anuluj</button>
    <button class=" btn confirm">Zatwierdź</button>
  </div>

  <app-footer></app-footer>
</main>
