<!DOCTYPE html>

<footer>
  <p>
    &copy; 2023 KLPN
    <span class="icon-box">
					<a href="https://www.facebook.com/profile.php?id=100009817357933" target="_blank">
            <i class="fa-brands fa-facebook"></i>
          </a>
          <a href="https://www.instagram.com/shtabeenfc/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
					<a href="https://www.tiktok.com/" target="_blank">
            <i class="fa-brands fa-tiktok"></i>
          </a>
    </span>
  </p>
</footer>
