main{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/football-field-2588146.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  .main-text{
    font-size: 70px;
    text-align: center;
    margin-top: 20px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    word-spacing: 20px;
  }
}

.container{
  height: 580px;
  width: 1200px;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/artificial-turf-1711556.jpg");
  display: flex;
  justify-content: center;

  .pitch{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../assets/img/football-field-1428839.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 320px;
    width: 250px;
    margin: 30px 20px;
    position: relative;
    transition: height, width .1ms;

    .pitch-number{
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 26px;
      color: #310744;
    }
  }

  .clicked{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../assets/img/football-field-1428839.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 320px;
    width: 250px;
    margin: 30px 20px;
    position: relative;
    transition: height, width .1ms;

    .pitch-number{
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 26px;
      color: #ad44b4;
    }
  }

  .hidden{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/img/football-field-1428839.png");
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    height: 320px;
    width: 250px;
    margin: 30px 20px;
    position: relative;
    transition: height, width .1ms;

    .pitch-number{
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 26px;
      color: #310744;
    }
  }

  .pitch:hover{
    height: 350px;
    width: 260px;
    cursor: pointer;
  }

  .clicked:hover{
    height: 350px;
    width: 260px;
    cursor: pointer;
  }

  .hidden:hover{
    height: 350px;
    width: 260px;
    cursor: pointer;
  }
}

.time-field{
  height: 60px;
  width: 600px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  word-spacing: 8px;


  .time-info{
    margin-right: 20px;
    font-size: 21px;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .time-selector{
    height: 40px;
    background-color: lightgreen;
    font-size: 16px;
  }
}

.decision{
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translateX(-50%);

  .btn{
    height: 50px;
    width: 120px;
    margin-right: 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;

  }
  .decline{
    background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgb(255, 0, 0) 79%);
  }
  .decline:hover{
    background: red;
  }

  .confirm{
    background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(70,252,69,1) 79%);
  }
  .confirm:hover{
    background: greenyellow;
  }
}

.calendar-footer {
  text-align: center;
  font-size: large;
}
