<!DOCTYPE html>

<main>
  <app-navbar></app-navbar>

  <p class="main-text">Zarezerwuj boisko</p>
  <div class="container">
    <div class="pitch first" (click)="setPitchNumber(1)"><p class="pitch-number">Boisko 1</p></div>
    <div class="pitch second" (click)="setPitchNumber(2)"><p class="pitch-number">Boisko 2</p></div>
    <div class="pitch third" (click)="setPitchNumber(3)"><p class="pitch-number">Boisko 3</p></div>

  </div>

  <div class="time-field">
    <p class="time-info">Wybierz termin rezerwacji:</p>
    <p-calendar appendTo="body" indputId="date" [(ngModel)]="reservationRequestDto.date" [showTime]="true" placeholder="yyyy-mm-dd hh:mm"></p-calendar>
  </div>

  <div class="decision">
    <button class="btn decline">Anuluj</button>
    <button class=" btn confirm" (click)="btnConfirm()" >Zatwierdź</button>
  </div>

  <app-footer></app-footer>
</main>
