<main>
  <app-admin-navbar></app-admin-navbar>
  <div class="users-table">
      <p-table [value]="matchDateRequests" [(selection)]="selectedRequests" [paginator]="true" [rows]="9" [selectionPageOnly]="true">
          <ng-template pTemplate="caption">
              <div class="center-caption">
                  Lista wniosków o zmianę dat spotkań
              </div>
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>Id</th>
                  <th>Nowa data spotkania</th>
                  <th>Wnioskujący</th>
                  <th>Mecz</th>
                  <th>Czy zaakceptować?</th>
                  <th style="width: 3rem">
                      <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th>&nbsp;&nbsp;&nbsp;</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-request>
              <tr>
                  <td>{{ request.matchDateEditId }}</td>
                  <td>{{ request.newMatchDate }}</td>
                  <td>{{ request.captainName }}</td>
                  <td>{{ request.matchTeams }}</td>
                  <td></td>
                  <td>
                      <p-tableCheckbox [value]="request"></p-tableCheckbox>
                  </td>
                  <td>&nbsp;&nbsp;&nbsp;</td>
              </tr>
          </ng-template>
          <ng-template pTemplate="summary">
              <div class="flex-container">
                  <div class="left">
                      Liczba oczekujących wnioskow: {{matchDateRequests.length}} 
                  </div>
                  <div class="right">
                      <div>
                          <button class="accept" type="button" pButton label="Zaakceptuj" (click)="btnAccept()"><i class="pi pi-check"></i></button>
                      </div>
                  </div>
                  <div class="right">
                      <div>
                          <button class="reject" type="button" pButton label="Odrzuć" (click)="btnReject()"><i class="pi pi-times"></i></button>
                      </div>
                  </div>
              </div>
          </ng-template>
      </p-table>
  </div>
  <app-admin-footer></app-admin-footer>
</main>