footer {
    font-family: Montserrat;
    height: 50px;
    width: 100%;
    background-color: rgb(157, 231, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
  }
  
p {
    font-size: 25px;
    color: rgb(44, 42, 42);
}