<main>
    <app-navbar></app-navbar>
    <div class="matches-table">
        <p-table [value]="refereeMatches" [paginator]="true" [rows]="7">
                <ng-template pTemplate="caption">
                    <div class="center-caption">
                        Lista meczów, których jesteś sędzią
                    </div>
                </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 10px;"></th>
                    <th style="width: 500px;">Spotkanie</th>
                    <th style="width: 300px;">Data</th>
                    <th>Edytuj statystykę meczową</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-matchForRefereeResponseDTO>
                <tr>
                    <td></td>
                    <td>{{ matchForRefereeResponseDTO.teams }}</td>
                    <td>{{ matchForRefereeResponseDTO.date }}</td>
                    <td><button type="button" pButton label="Edytuj statystyki" class="edit" (click)="btnEdit(matchForRefereeResponseDTO.matchId)"><i class="pi pi-file-edit"></i></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <app-footer></app-footer>
  </main>
