main{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../assets/img/football-field-2588146.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}

.matches-table {
    width: 80%;
    opacity: 0.9;
    margin: auto;
    margin-top: 2.5%;
}

.edit {
    width: 200px;
    background-color: rgb(76, 185, 66);
    margin-right: 130px;
}

.center-caption {
    text-align: center;
    font-size: large;
}
