.transfers-table {
  width: 40%;
  height: 50%;
  opacity: 0.9;
  margin: auto;
  margin-top: 2%;
}

.center-caption {
  font-size: 25px !important;
}

th {
  font-size: 20px !important;
}

td {
  font-size: 17px !important;
}
