<!DOCTYPE html>

<main>
  <app-navbar></app-navbar>
  <div class="hero">
    <div class="form-box">
      <p class="login-span">Rejestracja</p>
      <p class="login_underline"></p>
      <div class="input-group">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4">
            <div class="p-inputgroup input-name">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText [(ngModel)]="models.name" placeholder="Imię">
            </div>

            <div class="p-inputgroup input-lastname">
              <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
              <input type="text" pInputText [(ngModel)]="models.lastname" placeholder="Nazwisko">
            </div>

            <div class="p-inputgroup input-email">
              <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
              <input type="text" pInputText [(ngModel)]="models.email" placeholder="E-mail">
            </div>

            <div class="p-inputgroup input-password">
              <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
              <input type="password" pInputText [(ngModel)]="models.password" placeholder="hasło">
            </div>

            <div class="p-inputgroup input-index">
              <span class="p-inputgroup-addon"><i class="pi pi-hashtag"></i></span>
              <input type="text" pInputText [maxLength]="7" [(ngModel)]="models.index" placeholder="Numer indeksu (opcjonalnie)">
            </div>

            <div class="p-inputgroup input-phone">
              <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
              <input type="text" pInputText [maxLength]="9" [(ngModel)]="models.phonenumber" placeholder="Numer telefonu">
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="login-btn" ><p>Załóż konto</p></button>
      <p class="optional">Masz konto? <a href="/login"> Zaloguj się </a> już teraz!</p>
    </div>
    <app-footer></app-footer>
  </div>

</main>









