<main>
  <app-navbar></app-navbar>

  <p class="main-text">Edytuj datę spotkania</p>
  <p class="main-text" style="font-size:24px">{{matchToEdit.teams}} {{matchToEdit.date}}</p>

  <div class="container">
    <div [ngClass]="defaultFirstPitchClass" (click)="setPitchNumber(1)"  ><p class="pitch-number">Boisko 1</p></div>
    <div [ngClass]="defaultSecondPitchClass" (click)="setPitchNumber(2)"><p class="pitch-number">Boisko 2</p></div>
    <div [ngClass]="defaultThirdPitchClass" (click)="setPitchNumber(3)"><p class="pitch-number">Boisko 3</p></div>
  </div>

  <div class="time-field">
    <p class="time-info">Wybierz nowy termin spotkania:</p>
    <p-calendar appendTo="body" indputId="date" [(ngModel)]="matchDateEditDTO.newMatchDate" [showTime]="true" placeholder="yyyy-mm-dd hh:mm" [showIcon]="true" [style]="{'width':'80%'}" [inputStyle]="{'width':'80%'}">
      <ng-template pTemplate="footer"><div class="calendar-footer">Wybierz pełną godzinę!</div></ng-template>
    </p-calendar>
  </div>

  <div class="decision">
    <button pButton pRipple
            class="p-button-lg p-button-outlined p-button-danger"
            type="button"
            style="margin-right: 10px; background-color:white "
            icon="pi pi-times"
            (click)="btnCancel()"
            routerLinkActive="active"
            label="Anuluj">
    </button>
    <button pButton pRipple
            class="p-button-lg p-button-outlined p-button-success"
            style="margin-left: 10px; background-color:white; color: forestgreen"
            type="button"
            icon="pi pi-check"
            (click)="btnConfirm()"
            routerLinkActive="active"
            label="Zatwierdź">
    </button>
  </div>

  <app-footer></app-footer>
</main>
